.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8fca55, #05437c);
}

.form-login {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.forgot-pw {
    font-size: medium;
}

.forgot-pw:hover {
    color: blue;
}